// TODO
.banner {
  width: 100%;

  img {
    width: 100%;
    max-height: 25rem;
  }
}
.mainContainer {
  width: 70rem;
  height: 100%;
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  .mainHeader {
    width: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
      font-weight: 700;
    }
    .infoArea {
      display: flex;
      gap: 1.5rem;
      margin-top: 1.5rem;
      font-size: 1.0625rem;
      .date,
      .author,
      .timeToRead {
        display: flex;
        align-items: center;
        img {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .mainContent {
    width: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    min-height: 100vh;
    max-height: 100%;
    div {
      h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      ul {
        margin-bottom: 2rem;
        margin: 0 auto;
        width: 80%;
      }
      p {
        line-height: 1.4rem;
        text-align: justify;
        margin-bottom: 2rem;
        img {
          width: 50%;
          background: none;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
